// COLORS
$body-background: #e5e5e5;
$color-primary: #0b2639;
$color-primary-dark: #0b2639;
$color-primary-light: #0b2639;
$color-secondary: #009ecd;
$color-secondary-dark: #138cf0;
$filter-color-secondary-dark: invert(42%) sepia(75%) saturate(2185%)
  hue-rotate(186deg) brightness(95%) contrast(97%);
$light-grey: #e2e2e2;
$black: #000000;
$white: #ffffff;

//FONT FAMILY
$title-font: "Greycliff CF Bold", sans-serif;
$body-font: "Greycliff CF", sans-serif;
$body-alt: "Work Sans", sans-serif;
$sarabun: "Sarabun", sans-serif;
$bold: 700;
$footer-font: "Nunito", sans-serif;

// FONT-SIZES
$basic-font-size: 2.5rem;
$mobile-font-size: 1.5rem;

$big-title: 4.8rem;
$title-font-size: 4rem;
$mobile-title-font-size: 3rem;
$small-title: 2.5rem;
$big-text: 2rem;

$section-width: 70%;
$laptop-container: 80%;
