.featured-paintings {
  background-color: #000000;
  z-index: 99;
  overflow: visible;
  position: relative;
  height: 60vh;

  @include respond(tab-port) {
    padding-top: 4rem;
  }
  @include respond(phone-land) {
    height: 150vh;
  }

  &__drawing {
    position: relative;
    transform: translateY(-30%);
    //width: 35%;
    z-index: 10;
    overflow: visible;
    width: 40%;

    @include respond(laptop) {
      width: 40rem;
      transform: translateY(-34%);
    }
    @include respond(tab-land) {
      width: 30rem;
      transform: translateY(-15%);
    }
    @include respond(tab-port) {
      width: 30rem;
      transform: translateY(0);
    }
  }
}
