.home-gallery {
  position: relative;
  height: 107vh;
  display: flex;
  justify-content: center;
  padding: 10rem 0 20rem 0;
  z-index: 100;
  background-color: $black;

  @include respond(tab-land) {
    height: 125vh;
  }
  @include respond(tab-port) {
    height: 100vh;
    padding: 5rem 0 10rem 0;
  }
  @include respond(phone-land) {
    height: 275vh;
  }
  @include respond(phone-port) {
    height: 120vh;
    padding: 0 0 0 0;
    background-color: $black;
  }

  &__btns-container {
    position: absolute;
    bottom: 10rem;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;

    @include respond(tab-land) {
      justify-content: space-around;
    }
    @include respond(phone-port) {
      bottom: 50%;
      justify-content: space-between;
      padding: 0;
      z-index: 10;
    }
  }

  &__btn {
    border: 1px solid $white;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 100;

    &--left {
      @include respond(phone-port) {
        margin-right: 5rem;
      }
    }

    @include respond(phone-port) {
      border: none;
      width: 1.5rem;
      height: auto;
      padding: 0;
      color: black;
      border-radius: 0;
      transform: scale(1.5);
    }

    &:hover {
      cursor: pointer;
      background-color: $white;
      border-radius: 1px solid grey;
      color: $black !important;
    }
  }

  &__slide-icon {
    color: $white;
    width: 3rem;
    margin-top: 2rem;
    display: none;

    @include respond(tab-land) {
      display: block;
    }
  }
}
