.privacy-page {
  background-color: white;
  padding: 2rem 8rem;
  box-sizing: border-box;
  margin: 4rem auto;
  border-radius: 10px;
  font-weight: 400;
  color: #222222;

  h4 {
    font-size: 2.6rem;
    margin: 2rem 0;
  }

  p {
    line-height: 1.5;
  }
}
