.home-artist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  text-align: center;
  position: relative;

  @include respond(laptop) {
    justify-content: center;
  }
  @include respond(phone-port) {
    padding: 6rem 2rem 5rem 2rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;

    @include respond(laptop) {
      position: absolute;
      top: 5%;
    }
    @include respond(phone-port) {
      position: static;
      top: 0;
      margin-bottom: 3rem;
    }
  }

  &__text-container {
    margin-bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: baseline;

    @include respond(laptop) {
      margin-bottom: 0;
      transform: none;
    }
  }

  &__description {
    font-size: 4rem;
    font-style: italic;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-land) {
      font-size: 2.2rem;
    }
  }

  &__btn {
    padding: 2.5rem 6rem;
    width: max-content;
    align-self: center;

    @include respond(tab-land) {
      padding: 2rem 4rem;
    }
  }
}
