.news-section {
  &__text {
    color: $black;
  }

  &__btn {
    background-color: $color-secondary;
    color: $white !important;
  }
}

.new {
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include respond(phone-port) {
    flex-direction: column;
    gap: 2rem;
  }

  &__date,
  &__text {
    font-size: 2.5rem;
    text-align: left;

    @include respond(phone-port) {
      text-align: center;
    }
  }

  &__date {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: "Greycliff CF", sans-serif;
  }
}
