.slide {
  position: absolute;
  left: 0;
  width: 100%;
  height: min-content;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;

  @include respond(phone-port) {
    flex-direction: column;
  }

  &__components {
    // position: absolute;
    // top: 5rem;
    // right: 0;
    margin-left: 6rem;
    margin-top: 5rem;
  }

  &__button {
    font-size: 1.6rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__description {
    font-size: 1.6rem;
  }

  &__btns-container {
    gap: 1.5rem;

    &--vertical {
      @include respond(tab-land) {
        gap: 2rem;
        flex-direction: column;
      }
    }
  }

  &__btn {
    padding: 2rem 4rem;
    background-color: $color-secondary;
    letter-spacing: inherit;

    @include respond(phone-port) {
      width: 80%;
    }

    &--outline {
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
      margin-right: 2rem;

      @include respond(tab-land) {
        margin-right: 0;
      }

      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }
}

.bottom-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;

  @include respond(tab-land) {
    height: 70vh;
    align-items: center;
    margin-top: 5rem;
  }
  @include respond(phone-land) {
    height: 200vh;
  }
  @include respond(phone-port) {
    height: 100vh;
    margin-top: 0;
    z-index: 1;
  }

  &__image {
    width: 30rem;

    @include respond(tab-land) {
      width: 30rem;
    }
  }

  &__buy {
    padding: 1.5rem 3rem;
  }
}
