.footer {
  padding: 5rem 0;
  background-color: $color-secondary;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone-port) {
      flex-direction: column;
    }
  }

  &__terms {
    text-align: center;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;

    a {
      color: #f3f3f3;
      font-weight: bold;
    }
  }

  &__icons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
  }

  &__icon {
    &:hover {
      color: $white;
    }
  }

  &__logo {
    width: 30rem;

    @include respond(phone-port) {
      margin-bottom: 2rem;
    }
  }

  &__copy {
    display: block;
    font-size: 2rem;

    @include respond(tab-port) {
      font-size: 1.5rem;
    }
    @include respond(phone-port) {
      text-align: center;
    }
  }
}
